.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

#todosDiv {
  width: 1000px;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(60, 61, 65);
}

#todosDiv,
ul {
  list-style: none;
}

#remainingTodosDiv {
  width: 50%;
}

#finishedTodosDiv {
  width: 50%;
}

.finishedTodosLi {
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.377);
}

#addTodoDiv {
  position: absolute;
  margin-top: 460px;
  margin-left: 180px;
}

#navBarDiv {
  width: 1000px;
}

.navBarUl {
  padding: 0;
  list-style-type: none;
}

.navBarLi a {
  text-decoration: none;
  text-align: left;
  display: block;
  color: white;
  background-color: rgb(60, 61, 65);
}

.navBarLi a:hover {
  background-color: rgb(133, 133, 133);
}

#popupDiv {
  position: fixed;
  width: 300px;
  height: 250px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  margin-left: 100px;
}

.todoInput {
  font-size: 20px;
  display: flex;
  margin: 35px;
  text-align: left;

}

.EditButton {
  background-image: url('C:\Users\djavsan\Downloads\editar.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 20px;
  width: 20px;
}